
    <ion-header-bar align-title="center" class="bar bar-dark">
      <div class="title">
        <img src="img/logo.png" width="95" alt="" style="transform: translate(0px,-2px)">
      </div>
      <div class="buttons" ng-show="QR_Code">
        <div style="cursor: pointer; padding: 10px;" ng-click="Reset()"> 
          <i class="fa fa-times fa-3x"></i>
        </div>
      </div>
    </ion-header-bar>
<ion-view class="QR_Page">
  <ion-content class="padding QR">
    <div id="btn_QR" ng-show="!QR_Code">
      <button class="button btn-qr" on-touch="Escanear()">
      <i class="fa fa-qrcode"></i>
    </button>
    </div>

    
    <div style="color: white; background:rgba(0,0,0,0.7);" ng-show="QR_Code">
      <ion-list>
        <ion-list-header>
          <strong>Estado de la cuenta</strong>
        </ion-list-header>
        <ion-item-group>
          <ion-item style="background: rgba(0,0,0,0.8);color: white;font-size: 1.1em;">
            <div>
              <div style="width: 18%; float:left; text-align: left;margin-left: -4%"><strong>Cant.</strong></div>
              <div style="width: 47%; float:left"><strong>Productos</strong></div>
              <!--<div style="width: 25%; float:left; text-align: center"><strong>V. Unidad</strong></div>-->
              <div style="width: 38%; float:left; text-align: right;transform:translate(10%,0px) "><strong>V. Total $</strong></div>
            </div>
          </ion-item>
          <ion-item ng-repeat="d in data.Productos" style="background:rgba(0,0,0,0.8);color: white;">
            <div>
              <div style=" width: 15%; float:left; text-align: left; margin-left: -4%">{{d.Cantidad}}</div>
              <div style="width: 50%; float:left">{{d.Nombre}}</div>
              <!--<div style="width: 25%; float:left; text-align: center">{{d.PrecioUnidad | currency : "$" : 0}}</div>-->
              <div style="width: 38%; float:left; text-align: right;transform:translate(10%,0px) ">
                 {{d.SubTotal | currency : "" : 0}}
                </div>
            </div>
          </ion-item>
          <ion-item style="background:rgba(155,0,0,0.8);color: white;">
            <div>
              <div style="width: 60%; float:left"><strong>Total:</strong></div>
              <div style="width: 40%; float:left; text-align: right;transform:translate(10%,0px) ">{{data.Totales.TotalNetoAPagar | currency : "$" : 0}}</div>
            </div>
          </ion-item>
          <ion-item style="background:rgba(1,155,0,0.8);color: white;" ng-show="data.Totales.TotalDescuentosAplicados !== '0'">
            <div>
              <div style="width: 60%; float:left"><strong>Descuentos aplicados:</strong></div>
              <div style="width: 40%; float:left; text-align: right;transform:translate(10%,0px) ">{{data.Totales.TotalDescuentosAplicados | currency : "$" : 0}}</div>
            </div>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </div>
  </ion-content>
</ion-view>