/* Empty. Add your own CSS if you like */
.QR{
    padding-top:50px;
}
.QR_Page{
    background: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.QR .button{
    transform: translate(0px,32vh);
}
.QR #btn_QR{
    text-align: center;
}
.QR .button i{
   font-size: 200px;
}
.btn-qr{
    background: rgba(0,0,0,0.9);
    color: white;
}

.popPUP .popup {
    background: rgba(0, 0, 0, 0.8);
}

.popPUP .popup .button{
    background: rgba(150, 0, 0, 0.8);
    color: white;
}
.popPUP .popup-title {
    color: #AAAAAA;
    font-weight: bold;
}

.popPUP .popup-body {
    color: white;
    overflow: inherit !important;
    text-align: center;
    position: relative;
}

.popPUP .btncode {
    position: absolute;
    right: -22px;
    bottom: -20px;
    width: 45px;
    cursor: pointer;
}